:root {
	font-size: 12px;
}

* {
	box-sizing: border-box;
	font-family: Helvetica, 'Comic Sans', sans-serif;
	font-size: calc(0.85em + 1vw);
	color: #ffffff;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

html {
	padding: 10px;
}

body {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	image-rendering: pixelated;
}

#backgroundImage {
	height: 100%;
	width: 100%;
	align-self: center;
}

#container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#top, #middle, #bottom {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* #clock {
	position: absolute;
	bottom: 0;
}

#date {
	position: absolute;
	top: 0;
} */