#analog-clock {
	max-width: 80%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.react-clock {
	display: block;
	position: relative;
}
.react-clock,
.react-clock *,
.react-clock *:before,
.react-clock *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.react-clock__face {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 2px solid currentColor;
	border-radius: 50%;
}
.react-clock__hand {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 50%;
}
.react-clock__hand__body {
	position: absolute;
	background-color: currentColor;
	transform: translateX(-50%);
}
.react-clock__mark {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 50%;
}
.react-clock__mark__body {
	position: absolute;
	background-color: currentColor;
	transform: translateX(-50%);
}
.react-clock__mark__number {
	position: absolute;
	left: -40px;
	width: 80px;
	text-align: center;
}

.react-clock__hour-mark__body {
	width: 8px !important;
}

.react-clock__hour-hand__body {
	width: 8px !important;
	top: 20% !important;
}

.react-clock__minute-hand__body {
	width: 8px !important;
	top: 5% !important;
}

.react-clock__second-hand {
	transition-property: transform;
	transition-timing-function: linear;
	transition-duration: 1s;
	transition-delay: 0s;
}

.react-clock__second-hand__body {
	background-color: red;
}
