#spotify {
	max-width: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#spotify-album {
	height: 23.5vh;
	width: 23.5vh;
	aspect-ratio: 1 / 1;
	border: 1px solid currentColor;
	background-size: contain;
	background-repeat: no-repeat;
	filter: saturate(0%);
	margin-bottom: 1em;
}

#spotify-song {
	width: 100%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#spotify-artist {
	font-size: 0.75em;
	text-align: center;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#spotify-progress {
	position: relative;
	width: 100%;
	height: 1em;
	border: 2px solid currentColor;
	border-radius: 1em;
	padding: 2px;
	margin-top: 1em;
	margin-bottom: 0.75em;
}

#spotify-progress-current {
	font-size: 0.5em;
	position: absolute;
	top: -1.2em;
	left: 0;
}

#spotify-progress-total {
	font-size: 0.5em;
	position: absolute;
	top: -1.2em;
	right: 0;
}

#spotify-progress-fill {
	width: 35%;
	height: 100%;
	background-color: currentColor;
	border-radius: 1em;
}

#spotify-controls {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#spotify-play {
	font-size: 2em;
}


#spotify-prev, #spotify-next {
	font-size: 1.5em;
}

#spotify-graph {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-evenly;
	transition-property: height;
	transition-timing-function: linear;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

#spotify-graph > * {
	width: 100%;
	background-color: currentColor;
}