@font-face {
	font-family: 'LCD';
	font-style: normal;
	font-weight: 700;
	src: local('LCD'), url('../fonts/lcd.otf') format('opentype');
  }

:root {
	font-size: 16px;
}

* {
	box-sizing: border-box;
	font-family: Helvetica, 'Roboto', Arial, sans-serif;
	font-weight: 700;
	font-size: calc(0.85em + 1vh);
	color: #ffffff;
}

*:focus {
	outline: none;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	image-rendering: pixelated;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

#container {
	/* max-height: 100%;
	max-width: 100%; */
	aspect-ratio: 3 / 4;
	width: 100%;
	/* max-width: 75vh; */
	height: 100%;
	/* max-height: 133vw; */
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	position: relative;
}

#container:before {
	position: absolute;
	z-index: 100;
	display: block;
	height: 100%;
	width: 100%;
	content: ' ';
	pointer-events: none;
	mix-blend-mode: multiply;
}

#container.filter-dark:before {
	background-color: #000000;
	mix-blend-mode: unset;
	opacity: 50%;
}

#container.filter-lcd {
	background-color: #ffffff;
}

#container.filter-lcd * {
	color: #252421 !important;
	font-family: 'LCD', 'Courier New', Courier, monospace;
	text-shadow: 0.25rem 0.25rem 2px rgba(0, 0, 0, 0.20);
	text-transform: uppercase;
}

#container.filter-lcd svg, #container.filter-lcd .react-clock {
	filter: drop-shadow(0.25rem 0.25rem 2px rgba(0, 0, 0, 0.20));
}

#container.filter-lcd #compass-compass {
	filter: drop-shadow(0.25rem 0.25rem 2px rgba(0, 0, 0, 0.20));
}

#container.filter-lcd #compass-directions, #container.filter-lcd #compass-tilt, #container.filter-lcd #compass-climb {
	filter: invert(1);
}

#container.filter-lcd:before {
	background-color: #989c7f;
}

#container.filter-red:before {
	background-color: #ff0000;
}

#container.filter-green:before {
	background-color: #63910f;
}

#top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5em 0.5em 0 0.5em;
}

#content {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

#bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 0.5em 0;
}

#bottom > * {
	width: 100%;
	text-align: center;
}