@font-face {
	font-family: 'LCD';
	font-style: normal;
	font-weight: 700;
	src: local('LCD'), url('../fonts/lcd.otf') format('opentype');
}

@font-face {
	font-family: 'Cyberpunk';
	font-style: normal;
	font-weight: 400;
	src: local('BRAVE Eightyone'), url('../fonts/brave-eightyone.ttf') format('truetype');
}

:root {
	font-size: 16px;
	--font: Helvetica, 'Roboto', Arial, sans-serif;
	--text-color: 255, 255, 255;
	--contrast-color: 255, 0, 0;
	--bg-color: 0, 0, 0;
	--theme-color: 255, 255, 255, 1;
}

* {
	box-sizing: border-box;
	font-family: var(--font);
	font-weight: 700;
	font-size: 6vw;
	color: rgb(var(--text-color));
}

@media (orientation: landscape) {
	* {
		font-size: 4.5vh;
	}
}

@media (orientation: portrait) {
	* {
		font-size: 6vw;
	}
}

*:focus {
	outline: none;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	background-color: rgb(var(--bg-color));
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	image-rendering: pixelated;
}

button {
	background-color: rgb(var(--text-color));
	color: rgb(var(--bg-color));
	border: none;
	border-radius: 1em;
	outline: none;
	padding: 0.25em 0.75em;
	text-transform: uppercase;
	z-index: 0;
}

label {
	font-size: 1em;
}

select {
	color: rgb(var(--bg-color));
	background-color: rgb(var(--text-color));
	padding: 0.5em 0.5em 0.4em 0.5em;
}

option {
	color: rgba(var(--theme-color));
	background-color: rgb(var(--bg-color));
	border: 1px solid rgba(var(--theme-color));
}

/* option:hover, option:focus, option:active, option:target, option:focus-within, option:visited, option:focus-visible {
	background-color: green;
	box-shadow: 0 0 10px 100px #FED20F inset;
} */


/* option:checked {
	position: relative;
	background-color: yellow;
} */

option:checked:before {
	content: '✓';
	/* position:absolute;
	right: 2em; */
	color: rgb(var(--text-color))
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container {
	aspect-ratio: 3 / 4;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	position: relative;
	user-select: none;
}

@media (orientation: landscape) {
	#container {
		height: 100%;
	}
}

@media (orientation: portrait) {
	#root {
		justify-content: flex-start;
	}

	#container {
		width: 100%;
		max-width: 75vh;
		height: 133vw;
		max-height: 100%;
	}
}

#top {
	width: 100%;
	height: 1.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#top > div {
	margin-bottom: -0.2em;
}

#content {
	height: CALC(100% - 1.5em - 2em);
	width: 90%;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	padding: 1em 0;
}

#bottom {
	height: 2em;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#bottom > * {
	height: 100%;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.loading-screen {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.big-icon {
	font-size: 5em;
}