#weather {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#weather-top {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#weather-icon {
	font-size: 5em;
}

#weather-main {
	margin-left: 1em;
}

#weather-temp {
	font-size: 3.2em;
}

#weather-feels {
	font-size: 1em;
}

#weather-description {
	font-size: 1em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
}

#weather-bottom {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#weather-bottom svg {
	font-size: 1em;
	margin-bottom: 0.5em;
}

#weather-rain, #weather-wind, #weather-uv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: stretch;
}